<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Is Main</th>
          <th scope="col">Is Published</th>
          <th scope="col">Src</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
  </table>
<app-event-list-view [eventDetails]="event"></app-event-list-view>